# Pandas with SQL

In [4]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Column, Integer, String, Table, DATE, VARCHAR, CHAR
from sqlalchemy.orm.session import sessionmaker

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
sqlEngine = create_engine('mysql+pymysql://db_username:db_password@db_host/db_name', echo=True)
dbConnection = sqlEngine.connect()

In [5]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Create table

In [6]:
meta = MetaData()
customers = Table('table_name', meta,
                  Column('column_a', VARCHAR(255), nullable=False),
                  Column('column_b', VARCHAR(18), primary_key=True, nullable=False),
                  Column('column_c', DATE, nullable=False),
                  Column('column_d', DATE, nullable=True),
                  Column('column_e', CHAR(5), nullable=True),
                  Column('column_f', CHAR(255), nullable=True),
                  Column('column_g', CHAR(5), nullable=True),
                  Column('column_h', CHAR(5), nullable=True),
                  Column('column_i', DATE, nullable=True),
                  Column('column_j', CHAR(1), nullable=True),
                  UniqueConstraint('column_a', 'column_b', 'column_c', name='uix_1')
                 )
meta.create_all(sqlEngine)

NameError: name 'MetaData' is not defined

# Insert data into table

In [ ]:
buffer = []
for index, row in df.iterrows():
    buffer.append(
        dict(
            name=row['column_a'],
            customer_id=row['column_b'],
            open_date=row['column_c'],
            consulted_date=row['column_d'],
            vac_id=row['column_e'],
            dr_name=row['column_f'],
            state=row['column_g'],
            country=row['column_h'],
            dob=row['column_i'],
            is_active=row['column_j']
        )
    )

dbConnection.execute(table_obj.insert(), buffer)

# Find data from SQL table

In [ ]:
dataframe = pd.read_sql("SELECT * FROM DATABASE.TABLE;", dbConnection)